.react_page {
    display: grid;
    grid-template-areas: "navbar"
                         "content";
    grid-auto-rows: 100px auto;
    height: 100vh;
}

.navbar {
    grid-area: navbar;
    z-index: 10;
}

.react_content {
    z-index: 1;
    grid-area: content;
    display: grid;
    grid-template-areas: "sidebar main_content";
    grid-auto-columns: 360px auto;
    grid-auto-rows: auto;
}

.left_menu {
    grid-area: sidebar;
    background: #F8F8F8;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
    min-height: 100%;
    height: 100%;
    z-index: 5;
}

.content {
    grid-area: main_content;
    display: block;
    padding: 25px;
    width: auto;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    box-sizing: border-box;
    min-height: 100%;
}

.search {
    width: 305px;
    height: 31px;
    background: #E3E3E3;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 27px 25px 24px 25px;
    padding: 3px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    box-sizing: border-box;
    color: #000000;
    border: 0;
}

INPUT:focus {
    outline: none;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #484545;
    margin-bottom: 15px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #9A9A9A;
}

.img_copy {
    margin-left: 18px;
    cursor: pointer;
}

.button {
    text-align: center;
    background-color: #00B98A;
    color: #FFFFFF;
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 25px;
}

.line {
    border-bottom: 1px solid #A7A7A7;
    margin: 32px -25px 0 -40px;
    z-index: 1;
}

.code_block {
    background-color: #F5F5F5;
    width: 1487px;
    height: auto;
    padding: 5px;
    margin-top: 25px;
}

.code {
    font-family: Consolas, monospace;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
    padding-top: 20px;
}

.red {
    color: #E24A68;
}

.blue {
    color: #1673B1;
}

.green {
    color: #669900;
}

.purple {
    color: #990079;
}

.sub_title {
    margin-top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #444444;
}

.code_title {
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}


.vertmenu {
    margin: 30px 30px 30px;
}

.vertmenu ul {
    list-style: none;
}

.vertmenu ul li {
    position: relative;
    line-height: 30px;
}


.vertmenu .subCat, .chka {
    cursor: pointer;
}

.vertmenu .subCat.plus,
.chka:before,
.vertmenu .subCat.minus,
.subCat:checked + .chka:before {
    content: "  \25B6";
    color: #00B98A;
    font-size: 12px;
}


.vertmenu .subCat.minus, .subCat:checked + .chka:before {
    content: '  \25BC';
    color: #00B98A;
    font-size: 15px;
}

.vertmenu > ul > li ul {
    display: none;
}

.vertmenu > ul > li a.active + span + ul {
    display: block !important;
}

.vertmenu > ul > li .subCat:checked ~ ul {
    display: block !important;
}

.vertmenu input[type=checkbox].subCat {
    display: none;
}

.menu_title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    color: #00B98A;
}


.menu_sub_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    color: #000000;

}

.menu_options {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding-left: 20px;
    color: #484545;
}

.code_top {
    color: #00B98A;
    text-decoration: none;
    border-bottom: 2px solid #00D29D;
}