.navbar {
    display: grid;
    grid-template-areas: "name menu";
    padding: 37px 130px 37px 130px;
    font-size: 18px;
    line-height: 25px;
    background-color: transparent;
}

/*.theme-light {*/
/*    --color-logo: #000000;*/
/*    --color-system_name: #626262;*/
/*    --color-item: #302E2E;*/
/*}*/
/*.theme-dark {*/
/*    --color-logo: #00D29D;*/
/*    --color-system_name: #BEBEBE;*/
/*    --color-item: #DFDFDF;*/
/*}*/

.navbar.grey {
    background-color: #EDEDED;
    padding-left: 30px;
}

.name {
    grid-area: name;
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
}

.logo {
    text-decoration: none;
    padding-right: 26px;
    color: #000000;
}

.logo.green {
    color: #00D29D;
}

.system_name {
    color: #626262;
}

.system_name.light {
    color: #BEBEBE;
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: flex-end;
}

.item {
    text-decoration: none;
    margin-left: 40px;
    font-weight: 400;
    color: #302E2E;
}

.item.light {
    color: #DFDFDF;
}

.polygon {
    position: relative;
    top: 18px;
    left: 5px;

    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    border-top: 7px solid #DFDFDF;
}

.polygon.green {
    border-top-color: #00B98A;
}

.activeLink {
    color: #009A73;
}

.activeLink.components {
    color: #00B98A;
}