.main-page {
    background-color: #302E2E;
    min-height: 100vh;
    color: white;
    z-index: 1;
}

.line-light {
    width: 64px;
    height: 0;
    border: 1px solid #8C8C8C;
    margin-left: 130px;
}

.content {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-areas: "header header"
                         "main points"
                         "footer footer";
    grid-auto-rows: 170px 590px 94px;
    padding-left: 130px;
}

.header {
    grid-area: header;
}

.header h1 {
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    color:#FDFDFD;
}

.header p {
    margin: 0;
    color: #C3C3C3;
    font-size: 16px;
    max-width: 1050px;
    font-weight: 400;
}

.main-title {
    grid-area: main;
    font-weight: 800;
    font-size: 72px;
    line-height:78px;
    color: #6D6D6D;
}

.points {
    grid-area: points;
}

.footer {
    grid-area: footer;
    color: #DEDEDE;
    font-size: 16px;
    font-weight: 400;
}

.green {
    color: #00D29D;
}

.light {
    color: #EFEFEF;
}

.designer {
    margin-left: 70px;
    color: #00D29D;
}